<div>
  <button class="btn btn_color" (click)="displayItems();">Click Me!</button>
  <button class="btn btn_color" (click)="navigateToDay2();">Nav to another page</button>
</div>
<!-- {{error.message}} -->
<div class="container" *ngIf="displayData==true">
<h1 *ngFor="let item of dataObj">
{{item.name}}
</h1>
</div>